/*  Applies to all elements */
* {
    font-family: Arial, Helvetica, sans-serif;
}



/*  Applies to the body element, and every child element */
body {
    /* This is a different way of laying stuff out on a page - can be ignored for now */
    display: flex;
    flex-direction: column;
}



/*  Applies to anchor/hyperlink elements, and child elements */
/*  This applies to all <a> tags in the HTML. It isn't required
    for the modifiers (`:hover`, `:active`) to work. */  
a {
    color:red;
    font-size: 24px;
    text-decoration: none;
    margin: 3px 6px 3px 6px;
}

/*  `:hover` is used when the user hovers their cursor over the element.
    Its a modifier that can be added to pretty much any CSS property. 
*/
a:hover {
    text-decoration: underline;
    font-weight: bold;
    border: 2px dashed red;
}

/*  `:active` is used when the user clicks on the element */
a:active {
    font-size: 36px;
    transition: all 1s ease;
}



/*  CSS Properties starting with `.` only apply to elements with a matching
    class name. Many elements can have the same class name, and will all have
    the style defined in this property. They don't need to be of the same type.
    
    Usage:
        `<h3 class="demo">Demo Header</h3>`

        `<p class="demo">Demo Paragraph</p>`

*/
.demo {
    color: purple;
}



/*  CSS Properties starting with `#` only apply to elements with a matching
    ID. IDs are meant to be unique, so these properties will probably only 
    ever apply to a single element per HTML file. 

    Usage:
        `<p id="demo">Hello World!</p>`
*/
#demo {
    color:aqua;
}



/*  Extras - feel free to ignore */
button {
    margin: 5px 3px 5px 3px;
}