<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${restaurantName}"></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body class="mx-4">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home" th:text="${restaurantName}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/menu">Menu</a>
                </li>
              </ul>
            </div>
        </nav>


        <!-- Page contents - using flex box for low effort responsive design! -->
        <div class="content pt-4" style="display: flex; flex-direction: column;">
          <h1 th:text="${restaurantName}"></h1>
          <p style="margin-bottom: 5em;">
              Shawarma makes the world go 'round - why settle for mid, when you can settle for Lazeez? I'm running out of marketing text ideas so 
              I'll just pad this out a little more with some generic text. Hey, go look at the Menu page! It's more interesting.
          </p>
          <img src="https://hips.hearstapps.com/hmg-prod/images/190130-chicken-shwarma-horizontal-1549421250.png?crop=1xw:0.843328335832084xh;center,top" alt="delicious shawarmer">
          <p><i>Image credit: <a href="https://www.delish.com/cooking/recipe-ideas/a26092675/best-chicken-shawarma-recipe/">Delish.com</a></i></p>
        </div>
    </body>
</html>